     html {
         height: 100%;
     }
     
     body {
         font-family: 'Open Sans', sans-serif;
         font-weight: 300;
         background-image: linear-gradient(to bottom right, #b0e7e9, rgb(247, 247, 243));
         padding-bottom: 3rem;
     }
     
     h1 {
         font-family: 'Abril Fatface', Open Sans, sans-serif, cursive;
         text-align: center;
     }
     
     .jumbotron {
         background-color: rgba(250, 250, 250, 0);
     }
     
     .drop-shadow {
         text-shadow: 1px 1px 1px rgba(0, 0, 0);
     }
     
     .lead {
         color: rgb(25, 27, 18);
         font-size: 2rem;
     }
     
     #qut_container {
         font-size: 1.5rem;
         margin-bottom: 1rem;
     }
     
     button #display {
         text-align: center;
         font-size: 2rem;
     }
     
     #pro_img {
         background-color: #fff;
         background-image: url(src/images/IMG_6.JPG);
         /* background-image: url(src/images/IMG_12_copy.jpg); */
         /* background-image: url(src/images/IMG_13.JPG); */
         background-size: cover;
         background-repeat: no-repeat;
     }
     
     #display_pro {
         background-color: rgba(171, 244, 245, 0.5);
         margin-right: auto;
         width: auto;
     }
     
     #quote_display {
         margin-right: auto;
         width: auto;
     }
     
     #list li {
         display: inline;
     }
     
     #thumbs {
         height: 5rem;
         width: auto;
         padding: .3rem;
     }
     
     #box {
         display: block;
         margin-left: auto;
         margin-right: auto;
         height: 40rem;
         width: auto;
     }
     
     footer {
         text-align: center;
         background-color: rgb(139, 225, 240);
         color: #fffb00;
     }